/pom.xml
*jar
/lib
/classes
/native
/checkouts
.clj-kondo
.lsp
log
.cpcache
.nrepl-port
.calva
.data
demo/msg.log
demo/.calva
demo/quotes.log
demo/msg1.log
demo/bars.log
demo/binaries
demo/classes/*
demo/*.log
*.ddb
*.wal