/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
.clj-kondo
.lsp
log
.cpcache
.nrepl-port
.calva
.data
demo/msg.log
demo/.calva
demo/quotes.log
demo/msg1.log
demo/bars.log