({:asset "EURUSD", :digits :5, :ctrader "1"}
 {:asset "GBPUSD", :digits :5, :ctrader "2"}
 {:asset "EURJPY", :digits :3, :ctrader "3"}
 {:asset "USDJPY", :digits :3, :ctrader "4"}
 {:asset "AUDUSD", :digits :5, :ctrader "5"}
 {:asset "USDCHF", :digits :5, :ctrader "6"}
 {:asset "GBPJPY", :digits :3, :ctrader "7"}
 {:asset "USDCAD", :digits :5, :ctrader "8"}
 {:asset "EURGBP", :digits :5, :ctrader "9"}
 {:asset "EURCHF", :digits :5, :ctrader "10"}
 {:asset "AUDJPY", :digits :3, :ctrader "11"}
 {:asset "NZDUSD", :digits :5, :ctrader "12"}
 {:asset "CHFJPY", :digits :3, :ctrader "13"}
 {:asset "AUDCHF", :digits :5, :ctrader "1038"}
 {:asset "EURAUD", :digits :5, :ctrader "14"}
 {:asset "CADJPY", :digits :3, :ctrader "15"}
 {:asset "EURNOK", :digits :5, :ctrader "1039"}
 {:asset "GBPCAD", :digits :5, :ctrader "1040"}
 {:asset "GBPAUD", :digits :5, :ctrader "16"}
 {:asset "EURCAD", :digits :5, :ctrader "17"}
 {:asset "GBPNOK", :digits :5, :ctrader "1041"}
 {:asset "AUDCAD", :digits :5, :ctrader "18"}
 {:asset "GBPNZD", :digits :5, :ctrader "1042"}
 {:asset "GBPSGD", :digits :5, :ctrader "1043"}
 {:asset "NZDCAD", :digits :5, :ctrader "1044"}
 {:asset "NZDCHF", :digits :5, :ctrader "1045"}
 {:asset "NZDJPY", :digits :3, :ctrader "1046"}
 {:asset "USDMXN", :digits :5, :ctrader "1047"}
 {:asset "USDNOK", :digits :5, :ctrader "1048"}
 {:asset "USDPLN", :digits :5, :ctrader "1049"}
 {:asset "USDSEK", :digits :5, :ctrader "1050"}
 {:asset "EURHKD", :digits :5, :ctrader "1051"}
 {:asset "EURZAR", :digits :5, :ctrader "1052"}
 {:asset "USDSGD", :digits :5, :ctrader "28"}
 {:asset "SGDJPY", :digits :3, :ctrader "1053"}
 {:asset "USDHKD", :digits :5, :ctrader "1054"}
 {:asset "USDZAR", :digits :5, :ctrader "1055"}
 {:asset "EURCZK", :digits :4, :ctrader "1056"}
 {:asset "USDCZK", :digits :4, :ctrader "1057"}
 {:asset "USDCNH", :digits :5, :ctrader "1058"}
 {:asset "EURRUB", :digits :4, :ctrader "1059"}
 {:asset "USDRUB", :digits :4, :ctrader "1060"}
 {:asset "AUDSGD", :digits :5, :ctrader "1061"}
 {:asset "CHFPLN", :digits :5, :ctrader "1062"}
 {:asset "EURSGD", :digits :5, :ctrader "1063"}
 {:asset "GBPCHF", :digits :5, :ctrader "40"}
 {:asset "GBPDKK", :digits :5, :ctrader "1064"}
 {:asset "XAUUSD", :digits :2, :ctrader "41"}
 {:asset "GBPPLN", :digits :5, :ctrader "1065"}
 {:asset "XAGUSD", :digits :3, :ctrader "42"}
 {:asset "GBPSEK", :digits :5, :ctrader "1066"}
 {:asset "PLNJPY", :digits :3, :ctrader "1067"}
 {:asset "NOKSEK", :digits :5, :ctrader "1068"}
 {:asset "USDNGNc", :digits :3, :ctrader "1588"}
 {:asset "TRUMP", :digits :5, :ctrader "1592"}
 {:asset "#GerTech30", :digits :2, :ctrader "1093"}
 {:asset "#Holland25", :digits :2, :ctrader "1094"}
 {:asset "#Germany50", :digits :2, :ctrader "1096"}
 {:asset "#France120", :digits :2, :ctrader "1098"}
 {:asset "#ChinaA50", :digits :2, :ctrader "1100"}
 {:asset "HEDERA", :digits :5, :ctrader "1614"}
 {:asset "#Euro50", :digits :2, :ctrader "1103"}
 {:asset "GRAPH", :digits :5, :ctrader "1615"}
 {:asset "#France40", :digits :2, :ctrader "1104"}
 {:asset "ALGORAND", :digits :4, :ctrader "1616"}
 {:asset "#UK100", :digits :2, :ctrader "1105"}
 {:asset "TONCOIN", :digits :4, :ctrader "1617"}
 {:asset "#Germany40", :digits :2, :ctrader "1106"}
 {:asset "IMMUTABLE", :digits :4, :ctrader "1618"}
 {:asset "#USNDAQ100", :digits :2, :ctrader "1107"}
 {:asset "NEAR", :digits :3, :ctrader "1619"}
 {:asset "XAUEUR", :digits :2, :ctrader "1108"}
 {:asset "INTERNET", :digits :3, :ctrader "1620"}
 {:asset "XAGEUR", :digits :3, :ctrader "1109"}
 {:asset "APTOS", :digits :3, :ctrader "1621"}
 {:asset "XAUUSDgr", :digits :3, :ctrader "1110"}
 {:asset "COSMOS", :digits :3, :ctrader "1622"}
 {:asset "AVALANCHE", :digits :2, :ctrader "1623"}
 {:asset "#HongKong50", :digits :2, :ctrader "1114"}
 {:asset "#ChinaHShar", :digits :2, :ctrader "1115"}
 {:asset "WTI", :digits :3, :ctrader "1116"}
 {:asset "BRENT", :digits :3, :ctrader "1117"}
 {:asset "NAT.GAS", :digits :3, :ctrader "1118"}
 {:asset "AUDDKK", :digits :5, :ctrader "1119"}
 {:asset "AUDPLN", :digits :5, :ctrader "1120"}
 {:asset "CHFSGD", :digits :5, :ctrader "1121"}
 {:asset "USDILS", :digits :5, :ctrader "1122"}
 {:asset "#NGas_M26", :digits :3, :ctrader "1702"}
 {:asset "#NGas_N26", :digits :3, :ctrader "1703"}
 {:asset "#NGas_Q26", :digits :3, :ctrader "1704"}
 {:asset "#NGas_U26", :digits :3, :ctrader "1705"}
 {:asset "#NGas_V26", :digits :3, :ctrader "1706"}
 {:asset "#NGas_X26", :digits :3, :ctrader "1707"}
 {:asset "#NGas_Z26", :digits :3, :ctrader "1708"}
 {:asset "#NGas_F27", :digits :3, :ctrader "1709"}
 {:asset "#USOil_M26", :digits :3, :ctrader "1714"}
 {:asset "#USOil_N26", :digits :3, :ctrader "1715"}
 {:asset "#USOil_Q26", :digits :3, :ctrader "1716"}
 {:asset "#USOil_U26", :digits :3, :ctrader "1717"}
 {:asset "#USOil_V26", :digits :3, :ctrader "1718"}
 {:asset "#USOil_X26", :digits :3, :ctrader "1719"}
 {:asset "#USOil_Z26", :digits :3, :ctrader "1720"}
 {:asset "#USOil_F27", :digits :3, :ctrader "1721"}
 {:asset "#UKOil_N26", :digits :3, :ctrader "1726"}
 {:asset "#UKOil_Q26", :digits :3, :ctrader "1727"}
 {:asset "#UKOil_U26", :digits :3, :ctrader "1728"}
 {:asset "#UKOil_V26", :digits :3, :ctrader "1729"}
 {:asset "#UKOil_X26", :digits :3, :ctrader "1730"}
 {:asset "#UKOil_Z26", :digits :3, :ctrader "1731"}
 {:asset "#UKOil_F27", :digits :3, :ctrader "1732"}
 {:asset "#UKOil_G27", :digits :3, :ctrader "1733"}
 {:asset "#JP225_M26", :digits :0, :ctrader "1735"}
 {:asset "#JP225_U26", :digits :0, :ctrader "1736"}
 {:asset "#JP225_Z26", :digits :0, :ctrader "1737"}
 {:asset "#DJ30_M26", :digits :0, :ctrader "1739"}
 {:asset "#DJ30_U26", :digits :0, :ctrader "1740"}
 {:asset "#DJ30_Z26", :digits :0, :ctrader "1741"}
 {:asset "#US100_M26", :digits :2, :ctrader "1743"}
 {:asset "#US100_U26", :digits :2, :ctrader "1744"}
 {:asset "#US100_Z26", :digits :2, :ctrader "1745"}
 {:asset "#US500_M26", :digits :2, :ctrader "1747"}
 {:asset "#US500_U26", :digits :2, :ctrader "1748"}
 {:asset "#US500_Z26", :digits :2, :ctrader "1749"}
 {:asset "#US$idx_M26", :digits :3, :ctrader "1751"}
 {:asset "#US$idx_Z26", :digits :3, :ctrader "1752"}
 {:asset "#UK100_M26", :digits :1, :ctrader "1754"}
 {:asset "#UK100_U26", :digits :1, :ctrader "1755"}
 {:asset "#UK100_Z26", :digits :1, :ctrader "1756"}
 {:asset "#EUR50_M26", :digits :0, :ctrader "1758"}
 {:asset "#EUR50_U26", :digits :0, :ctrader "1759"}
 {:asset "#EUR50_Z26", :digits :0, :ctrader "1760"}
 {:asset "#GER40_M26", :digits :1, :ctrader "1762"}
 {:asset "#GER40_U26", :digits :1, :ctrader "1763"}
 {:asset "#GER40_Z26", :digits :1, :ctrader "1764"}
 {:asset "#SWI20_M26", :digits :0, :ctrader "1766"}
 {:asset "#SWI20_U26", :digits :0, :ctrader "1767"}
 {:asset "#SWI20_Z26", :digits :0, :ctrader "1768"}
 {:asset "#FRA40_M26", :digits :1, :ctrader "1770"}
 {:asset "#FRA40_U26", :digits :1, :ctrader "1771"}
 {:asset "#FRA40_Z26", :digits :1, :ctrader "1772"}
 {:asset "#US2000_M26", :digits :2, :ctrader "1774"}
 {:asset "#US2000_U26", :digits :2, :ctrader "1775"}
 {:asset "#US2000_Z26", :digits :2, :ctrader "1776"}
 {:asset "#Corn_N26", :digits :2, :ctrader "1779"}
 {:asset "#Corn_U26", :digits :2, :ctrader "1780"}
 {:asset "#Corn_Z26", :digits :2, :ctrader "1781"}
 {:asset "#SBean_N26", :digits :2, :ctrader "1784"}
 {:asset "#SBean_Q26", :digits :2, :ctrader "1785"}
 {:asset "#AUS200", :digits :2, :ctrader "1274"}
 {:asset "#SBean_U26", :digits :2, :ctrader "1786"}
 {:asset "#SBean_X26", :digits :2, :ctrader "1787"}
 {:asset "#SBean_F27", :digits :2, :ctrader "1788"}
 {:asset "#Wheat_N26", :digits :2, :ctrader "1791"}
 {:asset "#Wheat_U26", :digits :2, :ctrader "1792"}
 {:asset "#Wheat_Z26", :digits :2, :ctrader "1793"}
 {:asset "#Cotton_N26", :digits :2, :ctrader "1796"}
 {:asset "#Spain35", :digits :2, :ctrader "1285"}
 {:asset "#Cotton_V26", :digits :2, :ctrader "1797"}
 {:asset "#Swiss20", :digits :2, :ctrader "1286"}
 {:asset "#Cotton_Z26", :digits :2, :ctrader "1798"}
 {:asset "#US30", :digits :2, :ctrader "1287"}
 {:asset "#USSPX500", :digits :2, :ctrader "1288"}
 {:asset "#Sugar_N26", :digits :2, :ctrader "1800"}
 {:asset "#Sugar_V26", :digits :2, :ctrader "1801"}
 {:asset "#Sugar_V27", :digits :2, :ctrader "1802"}
 {:asset "#Coffee_N26", :digits :2, :ctrader "1804"}
 {:asset "#Japan225", :digits :2, :ctrader "1293"}
 {:asset "#Coffee_U26", :digits :2, :ctrader "1805"}
 {:asset "TIMESS", :digits :5, :ctrader "1294"}
 {:asset "#Coffee_Z26", :digits :2, :ctrader "1806"}
 {:asset "#Cocoa_N26", :digits :0, :ctrader "1808"}
 {:asset "#US2000", :digits :2, :ctrader "1297"}
 {:asset "#Cocoa_U26", :digits :0, :ctrader "1809"}
 {:asset "XPTUSD", :digits :2, :ctrader "1298"}
 {:asset "#Cocoa_Z26", :digits :0, :ctrader "1810"}
 {:asset "XPDUSD", :digits :2, :ctrader "1299"}
 {:asset "#US$idx_U26", :digits :3, :ctrader "1811"}
 {:asset "BITCOIN", :digits :2, :ctrader "1300"}
 {:asset "ETHEREUM", :digits :2, :ctrader "1301"}
 {:asset "LITECOIN", :digits :2, :ctrader "1302"}
 {:asset "USDTHB", :digits :3, :ctrader "1303"}
 {:asset "BITCOINCASH", :digits :2, :ctrader "1304"}
 {:asset "XRP", :digits :5, :ctrader "1305"}
 {:asset "STELLAR", :digits :5, :ctrader "1307"}
 {:asset "POLKADOT", :digits :3, :ctrader "1308"}
 {:asset "CHAINLINK", :digits :3, :ctrader "1310"}
 {:asset "DOGECOIN", :digits :5, :ctrader "1311"}
 {:asset "IOTA", :digits :5, :ctrader "1312"}
 {:asset "DASH", :digits :2, :ctrader "1313"}
 {:asset "ZCASH", :digits :2, :ctrader "1314"}
 {:asset "NEO", :digits :3, :ctrader "1316"}
 {:asset "BAT", :digits :5, :ctrader "1317"}
 {:asset "ETHCLASSIC", :digits :3, :ctrader "1318"}
 {:asset "MONERO", :digits :2, :ctrader "1319"}
 {:asset "ALUMINIUM", :digits :2, :ctrader "1420"}
 {:asset "COPPER", :digits :2, :ctrader "1421"}
 {:asset "LEAD", :digits :2, :ctrader "1422"}
 {:asset "ZINC", :digits :2, :ctrader "1423"}
 {:asset "EURCNH", :digits :5, :ctrader "1424"}
 {:asset "AAVE", :digits :2, :ctrader "1425"}
 {:asset "CARDANO", :digits :5, :ctrader "1426"}
 {:asset "FILECOIN", :digits :3, :ctrader "1427"}
 {:asset "SOLANA", :digits :3, :ctrader "1428"}
 {:asset "SUSHISWAP", :digits :5, :ctrader "1429"}
 {:asset "THETA", :digits :5, :ctrader "1430"}
 {:asset "TRON", :digits :5, :ctrader "1431"}
 {:asset "UNISWAP", :digits :3, :ctrader "1432"}
 {:asset "VECHAIN", :digits :5, :ctrader "1433"}
 {:asset "TEZOS", :digits :5, :ctrader "1434"}
 {:asset "USDRON", :digits :5, :ctrader "1468"}
 {:asset "BINANCECOIN", :digits :2, :ctrader "1505"}
 {:asset "USDTRY", :digits :5, :ctrader "1000"}
 {:asset "EURTRY", :digits :5, :ctrader "1001"}
 {:asset "AUDNZD", :digits :5, :ctrader "1012"}
 {:asset "CADCHF", :digits :5, :ctrader "1013"}
 {:asset "EURDKK", :digits :5, :ctrader "1014"}
 {:asset "EURHUF", :digits :3, :ctrader "1015"}
 {:asset "EURMXN", :digits :5, :ctrader "1016"}
 {:asset "EURNZD", :digits :5, :ctrader "1017"}
 {:asset "EURPLN", :digits :5, :ctrader "1018"}
 {:asset "EURSEK", :digits :5, :ctrader "1019"}
 {:asset "GBPZAR", :digits :5, :ctrader "1020"}
 {:asset "USDVND", :digits :3, :ctrader "1532"}
 {:asset "NZDSGD", :digits :5, :ctrader "1021"}
 {:asset "USDMYR", :digits :5, :ctrader "1533"}
 {:asset "USDDKK", :digits :5, :ctrader "1022"}
 {:asset "USDIDR", :digits :3, :ctrader "1534"}
 {:asset "USDHUF", :digits :3, :ctrader "1023"})
