{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        io.github.clojure-quant/fix-engine {:local/root "../fix-engine" :deps/manifest :deps}}
 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}
  
  :quote-print {:exec-fn demo.cli-quote-print/start-cli}
  :blotter-trade {:exec-fn demo.cli-trade-blotter/start-cli}}}
