{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        clojure-quant/fix-engine {:local/root ".." :deps/manifest :deps}}
 :aliases
 {

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :demo {:exec-fn  demo.quote-harvest/start-harvesting}

;
  }}

