{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        io.github.clojure-quant/quanta-blotter {:mvn/version "0.1.38"}
        io.github.clojure-quant/quanta-bar-warehouse {:mvn/version "0.5.43"}
        io.github.clojure-quant/fix-engine {:local/root "../fix-engine" :deps/manifest :deps}}
 :aliases
 {

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :old/cli-quote-raw {:exec-fn demo.old.cli-quote-raw/start-cli}
  :old/cli-quote-raw-ssl {:exec-fn demo.old.cli-quote-raw-ssl/start-cli}
  :old/cli-trade-raw {:exec-fn demo.old.cli-trade-raw/start-cli}
  :old/cli-engine-quote-db {:exec-fn demo.old.cli-engine-quote-db/start-cli}
  :old/print {:exec-fn demo.print/print-cli}

  :cli-quote-print {:exec-fn demo.cli-quote-print/start-cli}
  :cli-trade {:exec-fn demo.cli-trade/start-cli}
  :cli-trade-blotter {:exec-fn demo.cli-trade-blotter/start-cli}
  :blotter-trade {:exec-fn demo.cli-trade-blotter/start-cli}}}
